# hLOX15 + 5-HpETE setup TEMPLATE FOR QM/MM SETUP
# created by Sergi Ortiz @ UAB
# 6 April 2025

# source ffs
source leaprc.protein.ff19SB
source leaprc.gaff2
source leaprc.water.tip3p

# add extra atom types
# hLOX15 has 3x HID, 1x HIE, 1x OH, 1x Isoleucine (carboxilate, 2 O)
# total of 7 atoms around the iron coordination sphere
addAtomTypes {
        { "M1"  "Fe" "sp3" }
        { "Y1"  "N"  "sp3" }
        { "Y2"  "N"  "sp3" }
        { "Y3"  "N"  "sp3" }
        { "Y4"  "N"  "sp3" }
        { "Y5"  "O"  "sp3" }
        { "Y6"  "O"  "sp3" }
        { "Y7"  "O"  "sp3" }
}

# load coordination sphere models
# extracted from Susana's work 
# ! OH RESNAME must be OH1. O is called OH, H is called HO
# ! FE RESNAME must be FE1	
HD1 = loadmol2 HD1.mol2			
HD2 = loadmol2 HD2.mol2
HD3 = loadmol2 HD3.mol2
HE1 = loadmol2 HE1.mol2
IE1 = loadmol2 IE1.mol2
FE1 = loadmol2 FE1.mol2
OH1 = loadmol2 OH1.mol2			

# load coordination sphere parameters
loadamberparams h15LOX_mcpbpy.frcmod	
loadamberparams OH1.frcmod		

# load ligand docking mode
# ! LIG RESNAME must be LIG in both pdb and frcmod 
LIG = loadmol2 5-HpETE.mol2	

# load ligand ff parameters
loadamberparams 5-HpETE.frcmod	

# load the preprocessed system pdb (with ligand!)
mol = loadpdb {frame}_TIP3P.pdb



#=======================#
#	CONNECTIONS	#
#=======================#

# define FE bonds (coordination sphere)
# bond parameters have been loaded with mcpbpy.frcmod
bond mol.360.NE2 mol.663.FE		
bond mol.365.NE2 mol.663.FE
bond mol.540.NE2 mol.663.FE
bond mol.544.ND1 mol.663.FE
bond mol.662.O mol.663.FE
bond mol.663.FE mol.664.OH		


# now we define the non-standard residues from the protein.
# these belong to the coordination sphere, thus are extracted 
# deleted and replaced with the 'new' residues with non-standard
# ff parameters. They must be linked back together to the backbone
# of the protein --> connect C from C-terminus to N of N-terminus 
# for each non-standard amino acid.

# CONNECT HISTIDINES
# connect HD1 (HETATM, 359) to protein (358, 360)
bond mol.359.C mol.360.N
bond mol.360.C mol.361.N

# connect HD2 (HETATM, 364) to protein (363, 365)
bond mol.364.C mol.365.N
bond mol.365.C mol.366.N

# connect HD3 (HETATM, 539) to protein (538, 540)
bond mol.539.C mol.540.N
bond mol.540.C mol.541.N

# connect HE1 (HETATM, 543) to protein (542, 544)
bond mol.543.C mol.544.N
bond mol.544.C mol.545.N

# connect IE1 (HETATM, 661) to protein (660: C-terminus)
bond mol.661.C mol.662.N


# save pdbs for relaxation (solvated)
savepdb mol {frame}_solv.pdb

# save .prmtop topology and .inpcrd coordinates (solvated)
saveamberparm mol {frame}_solv.prmtop {frame}_solv.inpcrd


# done :)
quit
